.bodyHours{
  margin: 0 auto;
  /*background: #17F2B2;*/
  border-radius: 50% 50%;
}
.bodyHours canvas{
  display: block;
  border-radius: 50% 50%;
}
.hours{
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  background: url("@/assets/hours.jpg")no-repeat;
  background-size: 100% 100%;
}
