<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>美上美App</title>
</head>
<body>
<script>

function goToWechatGetCode(){
  var ua = navigator.userAgent.toLowerCase();
  if(/MicroMessenger/i.test(ua)){
     var code = window.location.href.match(new RegExp("[?&]" + 'code' + "=([^#?&]+)", "i")) ? decodeURIComponent(RegExp.$1) : "";
     if(!code||code==undefined||code=='undefined'){
         var appid = 'wx594f420067cba83d';
         var backUrl = encodeURIComponent(window.location.href);
         window.location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${appid}&redirect_uri=${backUrl}&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect`;
       }
  }
}
goToWechatGetCode();


</script>
  <div id="root"></div>
</body>
</html>
