.fail{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 60px;
  word-break: break-all;
  padding: 30px;
}
.headerBanner{
  width: 100%;
}
.headerBanner img{
  display: block;
  width: 100%;
}
.raffleBox{
  width: 100%;
  padding: 80px 0;
  background: url("@/assets/gift_bgk.png")no-repeat;
  background-size: 100% 100%;
}
.rafTitle{
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}
.rafTitle h3{
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  /*text-shadow:10px 20px 10px #7f36b2;*/
}
.rafTitle h3:last-child{
  padding: 28px 0 68px;
}
.hours{
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  background: url("@/assets/hours.jpg")no-repeat;
  background-size: 100% 100%;
}
.centerMan{
  position: fixed;
  width: 70px;
  height: 70px;
  background: #0fe2d5;
  bottom: 120px;
  right: 20px;
  text-align: center;
  border-radius: 50%;
  z-index: 10000;
}
.centerMan:after,.centerMan:before{
  position:absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 0;
}
.centerMan:after{
  background: rgba(255,188,103,0.2);
  animation: shrinkBox 2s ease-in infinite;
}
.centerMan:before{
  background: rgba(255,219,215,0.3);
  animation: shrinkBox 2s ease-in infinite;
}
.centerMan .goCenter{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
  background: #F7B044;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  box-sizing: border-box;
  padding-top: 10px;
}
@keyframes shrinkBox {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.awardBox{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}
.awardMak{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}
.awardbody{
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255,255,255,.9);
  width: 60%;
  transform: translate(-50%,-50%);
  padding: 40px 40px;
  box-sizing: border-box;
  border-radius: 20px;
}
.awardImg img{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.awardText{
  width: 100%;
  padding: 30px 0;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
}
.awardBtn{
  display: block;
  width: 236px;
  margin: 0 auto;
  padding: 20px 0px;
  background: #fc5544;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  border-radius: 38px;
}
.bannerOver{
  width: 100%;
  height: 1015px;
  overflow-x: auto;
  overflow-y: hidden;
}
.bannerOver img{
  display: block;
  height: 100%;
}
:global .slider-decorator-0{
  bottom: 40px !important;
}
