
.headerBanner{
  width: 100%;
}
.headerBanner img{
  display: block;
  width: 100%;
}
.raffleBox{
  width: 100%;
  padding: 80px 0;
  background: url("@/assets/gift_bgk.jpg")no-repeat;
  background-size: 100% 100%;
}
.rafTitle{
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}
.rafTitle h3{
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  text-shadow:10px 20px 10px #7f36b2;
}
.rafTitle h3:last-child{
  padding: 28px 0 68px;
}
.hours{
  width: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  background: url("@/assets/hours.jpg")no-repeat;
  background-size: 100% 100%;
}
