@import "~antd-mobile/dist/antd-mobile.css";
@import "assets/iconfont.css";

html, body, #root {
 width: 100%;
}

body {
  margin: 0;
}

.pawfade-enter {
  display: block;
  opacity: 0.01;
}
.pawfade-enter-done{
  display: block;
}
.pawfade-enter.pawfade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.pawfade-leave {
  opacity: 1;
}
.pawfade-leave.pawfade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
